language: java

jobs:
  include:
    - stage: build
      if: branch != master OR type IN (pull_request)
      jdk: oraclejdk9
      script:
        - mvn clean verify
    - stage: build
      if: branch != master OR type IN (pull_request)
      jdk: oraclejdk8
      script:
        - mvn clean verify
    - stage: build
      if: branch = master AND type IN (push)
      jdk: oraclejdk9
      script:
        - mvn clean verify
    - stage: build
      if: branch = master AND type IN (push)
      jdk: oraclejdk8
      script:
        - mvn clean source:jar javadoc:javadoc deploy --settings travis_settings.xml

# travis encrypt -r bootique/bootique-linkrest "CI_DEPLOY_USERNAME='name'"
# travis encrypt -r bootique/bootique-linkrest "CI_DEPLOY_PASSWORD='password'"
env:
  global:
    - secure: "ZkBv0pN2DkU1LAcwaJ2i7Fem6RirlCucgr/u/MQE1LrtnFooKygTaWdRduWsXbzXwmMa/a6cWuwfWVMmJupUtdRJt5OkcLFRm4pJTLzPng3XQ2niQWx/2Czdd2T+fOCZX6BX5e5dK9HQ1GdI7tiGKbCtL0wntCba+IAXmhgCXBy6l4X/V9YuArttNufof5OMaSGf0SjaRnpGtXvUmMMh9Fefo+Hqc2NNY4mP8WI43wg7p/M4/xdGeomI+vA7HhALqn5LSXZbSIy/AJMtf1AyMswQFF9+Yyiv6c3RX+lU2YVSLo+EjsFPTiUSyvfECxMR/TTCqX5+pBV249aki2YVXr0YPgz04HQXYU1z1fBNTuKbgBOwTH13LJHunc4/cYPThXI+ZYNBhmxHTlQoXnn3i0xZo/fRe7lBVyZ09ThcaQUOtY86/Oqx/3R3bWNt7lkvw/qJJyNjWdXuCrpw7tWGPBgGdmwKZXsmM9b98QVwuteLCX8MY8p68BOLsmcIYyY5hhdSOHjRUslYpqKcOq3o+1XzU3Na9+nkqvKpfuGFV8ppTbfZzmjDSKliZmE5/V8g3wTdtRtIMyJlMFNEvD0b5JhusdUmdO4mPDgc4+2dyWUhdE/4Y7kjpfFTMcnWDtFES3bC5B2Iex3oDO3mOH040c1rKPFZpkft+MzFBeLNYxk="
    - secure: "Ftu+CzvVIqgHuTkjo6I5YNaBK5Asa1u93TPXQrZA0cWnKTYx6ETb9wFxDrx4BhCyX3F+Re6XWV9JH9JiPwUPlsclwutz6Z/u9qcGl+ZQsuA3sX/aHK5YD6s5H8shEcjN4fdHQjc2TcvoW1F5EOstuWB1qAPoZXWrLw4ljlcq16gOZKXXcYHAdS6NCHHEG6dMpLlGqgELh9gG5TuRrEU+72lbhwsM+k1MpGJcFBcSBUi6M2uVfwWv2eKFjjJovPwkA6dWxu7jNZH7k7OJcJ8jHu6Ly3uTN2+Z/Se/DOtIn2qb+2DNtRYnnExxWuG8YVN3v+6avikJsMEr6W8DFHiOnk62gajiw63JTz3UJuYcP3yd9pvQ/KYKHOw87FRirbmN0r/Zpwku4mVWgB0HfoqlqLjlgi51ppkwTurYMNdXRw/qWe9TXZBFIMkApeUFDPW4byDLpt10557NOiMb4R0qOIO4n7tCpq3Z7weG5w03FoUu5wc+QicOgEwC+w22hWpzy/eX8dtopMHZ8ZrtC7iesIwTcZBcoG6FiENGcKf0ii7yicDcSiJaffJ4G7twjucmQVYBLHdZ3kl7tO/Xq3h5qbJuWH6FyNZX5mhuBVCn1wNhh4GVxSvK39kyw7l5oAoE3Gzf9nqdX1/JNP20AkpQcI+nJ2VYznNqIGbfKqMU4F4="
